google-adk[database]==0.3.0
yfinance==0.2.56
psutil==5.9.5
litellm==1.66.3
google-generativeai==0.7.1
python-dotenv==1.1.0
deprecated
psycopg2-binary
fastapi==0.115.12

langchain==0.3.25
langchain-community==0.3.25
langchain-core==0.3.65
langchain-google-genai==2.0.0
langchain-text-splitters==0.3.8
qdrant-client==1.14.3